.planner{
    padding-top: 10px;
}

.room{
    width: 200px;
    float: left;
}

.event{
    border: 1px solid black;
}

.event:hover {
    background-color: lightyellow;
}

.spacer{

}

.times{
    float: left;
    width: 120px;
}

.time{
    height: 50px;
    text-align: right;
  border-bottom: 1px dotted #d3d3d3;
}

.open-block{
    border-bottom: 1px dotted #d3d3d3;
    height: 50px;
}

.open-block:hover {
    background-color: lightskyblue;
}

.panel{
  border: 0;
}