@cell-height:                    30px;

.planner{
    padding-top: 10px;
}

.room-container{
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
}

.room{
    width: 200px;
    float: left;
}

.event{
    border: 1px solid black;
    float: left;
    position: absolute;
}

.event:hover {
    background-color: lightyellow;
}

.spacer{

}

.times{
    float: left;
    width: 120px;
}

.time{
    height: @cell-height;
    text-align: right;

  vertical-align: top;
  border-bottom: 1px dotted #d3d3d3;
}

.open-block{
    border-bottom: 1px dotted #d3d3d3;
    height: @cell-height;
}

.open-block:hover {
    background-color: lightskyblue;
}

.creating {
  background-color: lightskyblue;
}

.panel{
  margin-left:4px;
}
.panel-body{
  padding: 0;
}
.panel-heading{

}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }