<!DOCTYPE html>
<html>
    <head>
        <title>Convention Planner</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="/css/lib.<!-- @echo hash -->.css" />
        <link rel="stylesheet" href="/css/app.<!-- @echo hash -->.css" />

        <script src="/js/lib.<!-- @echo hash -->.js"></script>
        <script src="/js/application.<!-- @echo hash -->.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Convention Planner</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">{{convention.name}}</a></li>
                    <li ><a href="/">All</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>

        <label>Show from </label>
        <input data-bind="datepicker: startTime" />
        <label> to </label>
        <input data-bind="datepicker: endTime" />

        <a href="#" class="btn btn-primary" data-bind="click: promptForNewRoom">Add Room</a>
        <a href="#" class="btn btn-primary" data-bind="click: promptForNewEvent">Add Event</a>

        <h3>Events Registared: <span data-bind="text: totalEvents()"></span></h3>

        <div class="planner clearfix" data-bind="style: { width: planerWidth }">

            <div data-bind="template: { name: displayMode, foreach: columns }, sortableList: { list: columns, handle: '.panel-heading', items: '.room', distance: 30 }">

            </div>

        </div>

        <div data-bind="template: { name: 'chat-template', data: chat }"></div>

        <script type="text/html" id="chat-template">

            <div class="chat-widget">
                <div class="chat-header label label-info" data-toggle="collapse" data-target=".chat-content">Chat</div>
                <div class="chat-content collapse in">
                    <div class="chat-entries" data-bind="foreach: chatLog">
                        <div class="message">
                            <p>
                                <label data-bind="text: alias"></label>
                                <span data-bind="text: message"></span>
                            </p>
                        </div>
                    </div>
                    <div class="chatAlias" data-bind="visible: !alias()">
                        <input type="text" class="form-control" data-bind="value: name, event: { keypress: checkSubmitName }" />
                        <div style="padding-top:3px;">
                            <a class="btn btn-primary btn-xs" style="float:right;" data-bind="click: setAlias">Set Alias</a>
                        </div>
                    </div>
                    <div data-bind="visible: alias">
                        <div class="chatControls">
                            <input type="text" class="form-control" data-bind="value: text, event: { keypress: checkSubmitMessage }, hasfocus: focusText" />
                            <div style="padding-top:3px;">
                                <a class="btn btn-default btn-xs" style="float:left;" data-bind="click: clearAlias">Change Name</a>
                                <a class="btn btn-primary btn-xs" style="float:right;" data-bind="click: sendMessage">Send</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/html" id="time-template">
            <div class="panel panel-default times">
                <div class="panel-heading">
                    <h3 class="panel-title">Time</h3>
                </div>
                <div class="panel-body times" data-bind="foreach: rows">
                    <div class="time">
                        <label data-bind="text: dateText"></label>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/html" id="room-template">
            <div class="panel panel-default room" data-bind="event: { mouseleave: cancelCreate }">
                <div class="panel-heading" data-bind ="event: { dblclick: promptForEditRoom }">
                    <a class="close" data-bind="click: $parent.uiRemoveRoom">&times;</a>
                    <h3 class="panel-title" data-bind="text: (name() || '&nbsp')"></h3>
                </div>
                <div class="room-container" data-bind="template: { name: 'event-template', foreach: visibleEvents() }"></div>
                <div class="panel-body cell-container" data-bind="foreach: rows, droppable: { kodrop: dropEvent, accept: '.event' }">
                    <div class="cell" data-bind="css: { creating: creating() && $parent.creating() }">
                        <div class="open-block" data-bind="event: { mousedown: $parent.markStart, mouseover: $parent.mark, mouseup: $parent.promptNewEvent }"></div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/html" id="event-template">
            <div class="event" data-bind="style: { height: height, width: width, top: position, marginLeft: margin }, draggable: { distance: 20, revert: 'invalid', koStart: startDrag, koStop: stopDrag }, event: { dblclick: promptForEditEvent }, css: getColor">
                <a class="close" data-bind="click: $parent.uiRemoveEvent">&times;</a>
                <i class="edit ui-icon ui-icon-pencil" data-bind="click: promptForEditEvent"></i>
                <ul class="list-unstyled" data-bind="style: { height: height }">
                    <li>
                        <label data-bind="text: name()"></label>
                    </li>
                    <li data-bind="visible: reserve" style="text-align: center">
                        <div class="label label-info" data-bind="text: reserve" ></div>
                    </li>
                </ul>
            </div>
        </script>

        <script type="text/html" id="empty-space-template">
            <div class="spacer" data-bind="foreach: blocks, style: { height: height }">
                <div class="open-block"></div>
            </div>
        </script>

        <script type="text/html" id="add-room-template">
            <div class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true" data-bind="click: cancel">&times;</button>
                            <h3 data-bind="text: title"></h3>
                        </div>
                        <div class="modal-body">
                            <form action="#" data-bind="submit: add">
                                <div class="control-group">
                                    <label class="control-label">Name:</label>
                                    <div class="controls">
                                        <input type="text" data-bind="value: name" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Description:</label>
                                    <div class="controls">
                                        <textarea data-bind="value: description"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-primary" data-bind="click: add, text: confirmText">Add Room</a>
                            <a href="#" class="btn" data-bind="click: cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/html" id="add-event-template">
            <div class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content" >
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true" data-bind="click: cancel">&times;</button>
                            <h3 data-bind="text: title">Add Event</h3>
                        </div>
                        <div class="modal-body">
                            <form action="#" data-bind="submit: add">
                                <div class="control-group">
                                    <label class="control-label">Name:</label>
                                    <div class="controls">
                                        <input type="text" data-bind="value: name" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Room:</label>
                                    <div class="controls">
                                        <select data-bind="options: rooms,
                                           optionsText: getRoomName,
                                           value: room"></select>
                                    </div>
                                </div>
                                <div class="control-group" >
                                    <label class="control-label">Color:</label>
                                    <div class="controls" data-bind="css: getColor">
                                        <select data-bind="options: colors,
                                           value: color"></select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Start:</label>
                                    <div class="controls">
                                        <input data-bind="datepicker: start" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">End:</label>
                                    <div class="controls">
                                        <input data-bind="datepicker: end" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-primary" data-bind="click: add, text: confirmText">Add Event</a>
                            <a href="#" class="btn" data-bind="click: cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/javascript">
            var conventionId = '{{convention._id}}';
            var convention = $.parseJSON('{{{json}}}');
        </script>
        <script src="/js/main.<!-- @echo hash -->.js"></script>
    </body>
</html>